<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pedra Branca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <swiper-container pager="true" >
      <swiper-slide>
        <ion-img src="https://photos.wikimapia.org/p/00/02/49/18/27_big.jpg"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="https://photos.wikimapia.org/p/00/02/49/18/27_big.jpg"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="https://www.guiadecachoeiras.com.br/fotos/parques/23615.jpg"></ion-img>
      </swiper-slide>
    </swiper-container>
    <ion-card-content>
      <h2>esse parque é otimo para se visitar, você pode andar de bike, nadar nas cachoeiras, e fazer trilhas incriveis</h2>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>Endereço</ion-label>
      <ion-button fill="outline" href="https://www.google.com/maps/place/Pedra+Branca/@-22.9311107,-43.4725,14z/data=!3m1!4b1!4m6!3m5!1s0x9bde0fc4cd19b7:0xf09745b52b19322b!8m2!3d-22.9311111!4d-43.4725!16s%2Fg%2F11bxfwh720" target="_blank" >ver no mapa</ion-button>
    </ion-item>
    <ion-card-content>
      Localizado na zona oeste da cidade do 
      Rio de Janeiro, o Parque Estadual da Pedra Branca
       é considerado um dos maiores parques naturais 
       urbanos do mundo. Criado em 1974, 
       possui cerca de 12.500 hectares de área 
       coberta por vegetação típica da Mata Atlântica, 
       área quatro vezes maior que o Parque Nacional 
       da Tijuca (equivale a 12.500 estádios do Maracanã).
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Horario de funcionamento</ion-label>
    </ion-item>
    <ion-card-content>
      De terça a domingo, das 5 ás 22 horas.
    </ion-card-content>
    <ion-card>
      <ion-item>
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Internet Livre (pedra-branca)</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="happy-outline" slot="start"></ion-icon>
        <ion-label>Parquinhos</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="football-outline" slot="start"></ion-icon>
        <ion-label>Campo de futebol</ion-label>
      </ion-item>
    </ion-card>
  </ion-card>



 
</ion-content>
