<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pedra Branca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <swiper-container pager="true" >
      <swiper-slide>
        <ion-img src="https://photos.wikimapia.org/p/00/02/49/18/27_big.jpg"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="https://photos.wikimapia.org/p/00/02/49/18/27_big.jpg"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="https://www.guiadecachoeiras.com.br/fotos/parques/23615.jpg"></ion-img>
      </swiper-slide>
    </swiper-container>
    <ion-card-content>
      <h2>esse parque é otimo para se visitar, você pode andar de bike, nadar nas cachoeiras, e fazer trilhas incriveis</h2>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name=""></ion-icon>
    </ion-item>
   
  </ion-card>



  <ion-card>
    
      <swiper-container pager="true">
        <swiper-slide>
          <ion-img src="https://lh3.googleusercontent.com/p/AF1QipPdhS-Q7t3PS4oo7n405LBszsVT8EhDcLXaSWqm=s680-w680-h510"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="https://lh3.googleusercontent.com/p/AF1QipPdhS-Q7t3PS4oo7n405LBszsVT8EhDcLXaSWqm=s680-w680-h510"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="https://lh3.googleusercontent.com/p/AF1QipPdhS-Q7t3PS4oo7n405LBszsVT8EhDcLXaSWqm=s680-w680-h510"></ion-img>
        </swiper-slide>
      </swiper-container>
    
  </ion-card>

 
</ion-content>
